/* GENERAL */

*{
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}
:root{
    --vertFonce: rgba(19,57,23,1);
    --vertMedium: rgba(56,112,61,1);
    --vertClair: rgba(77,149,89,1) ;
    --white: #fff;
    background: linear-gradient(90deg, var(--vertFonce) 0%, var(--vertMedium) 28.53%, var(--vertClair) 75.52%);
}
@keyframes slide {
    from{
        opacity: 0;
        transform: translateX(100vw);
    }
    to{
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}
a{
    text-decoration: none;
}
img{
    aspect-ratio: auto;
}
.networkIcons, .burgerIcon{
    height: 30px;
}

            /* FLEXBOX */
.disFlex{
    display: flex;
    flex-wrap: wrap;
}

                /* HEADER */
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 15vh;
    font-weight: 700;
    margin: 4vh 0 0 0;
    flex-basis: 100%;
    justify-content: space-between;
}
.burgerIcon{
    display: none;
}
.burger>div{
    margin: 0 1vw;
}
header div{
    font-size: 1.2em;
}
.burger>div :hover{
    border-bottom: solid 3px var(--white);
    padding-bottom: 5px;
    /*     font-weight: 900;
    ^ fait bouger tout */
}



/*  Main Container */

.mainContainer{display: flex;
    flex-wrap: wrap;
    margin: 3vh 0 0 5vw;
}

/* Text */

.textColumn{
    width: 40vw;
}
h5{
    font-size: 1em;
}
h4{
    font-size: 1em;
}
h1{ 
    font-family: 'Permanent Marker', cursive;
    font-size: 5em;
}
p{
    margin: 10vh 0;
    line-height: 4vh;
}

/* CALL TO ACTION */

#buttonDisplay>button{
    border: solid 1px var(--vertClair);
    background-color: var(--vertClair);
    border-radius: 28px;
    padding: 15px 20px;
    margin: 0 5vh 0 0;
}
#buttonDisplay :hover{
    background-color: transparent;
    border: solid 1px var(--white);
    box-shadow: 3px 3px 8px rgba(23, 23, 23, 0.3);
}
#buttonDisplay>button>svg:hover{
    border: transparent;
    box-shadow: none;
}
#buttonDisplay{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Image Goblin */

.goblinImage{
    width: 50vw;
}
.goblinImage > img{
    width: 100%;
}

/* Barre icônes réseaux sociaux */

#networkBar{
    position: absolute;
    left: 5px;
    bottom: 150px;
    align-items: center;
    width: 10vh;
}
#networkBar>div{
    height: 35px;
    margin: 1vh 0;
}
#networkBar>div:hover .networkIcons{
    width: 35px;
    height: 35px;
}

/* FOOTER */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/* Bouton retour haut de page */

#anchorButton{
    background-color: var(--vertClair) ;
    border: solid var(--vertClair) 1px;
    border-radius: 50%;
}
#anchorButton>div{
    margin: 10px 10px;
}

/* MEDIA QUERIES */

@media (max-width: 767px) {
    /* MOBILE */
    
    header>nav{
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .flexRow{
        flex-direction: column;
    }
    .flexColumn{
        align-content: center;
    }
    
    #buttonDisplay{
        flex-direction: column;
    }
    .bottomButtons{
        flex-direction: row;
    }

    #networkBar{
        display: none;
    }
}

@media (max-width: 1023px) {
    /* TABLET */   
    body{
        margin: 0;
    }
    .headerNavBar{
        display: none;
    }
    /* BURGER MENU */
    .burger{
        background-color: var(--vertFonce);
        z-index: 1;
        line-height: 15vh; 
        /* Remplacer line-heigth par heigth 100vh plus space-between sur les div */
        cursor: pointer;
    }
    .burgerIcon{
        cursor: pointer;
    }
    
    /* quand burgerIcon:hover , .burger */
    .burgerIcon:hover~.burger{
        display: block;
        animation-name: slide;
        animation-duration: 1.5s;
        animation-delay: 0ms;
    }
    .burger>a:hover{
        background-color: var(--vertMedium);
        font-weight: 700;
    }
    .flexColumn{
        align-content: center;
    }
    
    h1{
        font-size: 0.8em;
    }
    h2{
        font-size: 0.8em;   
    }
    h3{ 
        font-size: 4em;
    }
    .absolute{
        top: 150vh;
    }
    .burgerIcon{
        right: 10vh;
        top: 5vh;
    }
    #networkBar{
        display: none;
    }
} 
