                /* GENERAL */

*{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
body{
    background: linear-gradient(90deg, rgba(19,57,23,1) 0%, rgba(56,112,61,1) 28.53%, rgba(77,149,89,1) 75.52%);
}

a{
    text-decoration: none;
}
.networkIcons, .burgerIcon{
    height: 30px;
}

            /* FLEXBOX */
.disFlex{
    display: flex;
    flex-wrap: wrap;
}
/* enlever display:flex + ajouter class=disflex aux balises */
.flexRow{
    display: flex;
    flex-direction: row;
}
.flexColumn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.flexCenter{
    justify-content: center;
}

                /* HEADER */
header{
    height: 15vh;
    font-weight: 700;
    margin: 4vh 0 0 0;
    width: 100%;
}
.headerNavBar{
    justify-content: end;
}
.headerNavBar > div{
    margin: 0 4vh 0 4vh;
}
#name{
    margin: 0 0 0 5vh;
}
header>nav{
    width: 100%;
    display: flex;    
    justify-content: space-between;
}

/* BURGER MENU */
.burger{
    width: 0;
}
.burgerMenu{
    display: none;
}
.burgerMenu{
    background-color: rgba(19,57,23,1);
    z-index: 1;
    line-height: 15vh;
    height: 100vh; 
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.burgerIcon{
    position: absolute;
    right: 5vh;
    cursor: pointer;
}
/* quand l'icone:hover , .burgerMenu s'affiche */
.burger:hover .burgerMenu{
    display: block;
}
/* quand Menu est ouvert, Icon disparaît */
.burger:hover .burgerIcon{
    display: none;
}
.lienBurger{
    width: 100%;
}
.burger{
    cursor: pointer;
}
.lienBurger:hover{
    background-color: rgba(56,112,61,1);
    font-weight: 700;
}
.burgerIcon:checked ~ main{
    display: none;
}
.burgerIcon:checked ~ main img{
    position: initial;
}
.burgerIcon:hover ~ main .bottomButton{
    position: initial;
}


                /* SECTIONS */
#reducedWidth{
    width: 70%;
}

/* Boutons */
#buttonDisplay>.bottomButtons{
    border: solid 1px #4d9559;
    background-color: #4d9559;
    border-radius: 28px;
    padding: 15px 20px;
    margin: 0 5vh;
}
#buttonDisplay :hover{
    background-color: transparent;
    border: solid 1px white;
    box-shadow: 3px 3px 8px rgba(23, 23, 23, 0.3);
}
#buttonDisplay>button>svg:hover{
    border: transparent;
    box-shadow: none;
}
#buttonDisplay{
    flex-direction: row;
    position: absolute;
    top: 130vh;
}

/* Barre icônes réseaux sociaux */
#networkBar{
    align-items: center;
    width: 10vh;
    margin: 60vh 0;
}
#networkBar>div{
    height: 35px;
    margin: 1vh 0;
}
#networkBar>div:hover .networkIcons{
        width: 35px;
        height: 35px;
}

/* Bouton retour haut de page */
#anchorButton{
    background-color: #62af6f ;
    border: solid #62af6f 1px;
    border-radius: 50%;
    margin: 50vh;
}
#anchorButton>div{
    margin: 10px 10px;
}

                /* TEXT */
.headerNavBar>div :hover{
    text-decoration: underline white 2px;
}
#textColumn{
    margin: 0 20vh;
    width: 60%;
    line-height: 10vh;
}
h1{
    font-size: 1em;
    margin: 0 0 5vh 0;
}
h2{
    font-size: 1em;
    margin: 0 0 5vh;
}
h3{ 
    font-family: 'Permanent Marker', cursive;
    font-size: 6em;
    margin: 5vh 5vh 5vh 0;
}
p{
    margin: 10vh 0;
}


@media (max-width: 767px) {
/* MOBILE */
    header>nav{
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .flexRow{
        flex-direction: column;
    }
   .flexColumn{
        align-content: center;
    }
    .flexColumn > nav , .headerNavBar{
        display: none;
    }
    .headerNavBar .headerNavBar>div{
        display: none;
    }
    #reducedWidth{
        width: 100%;
    }
    #buttonDisplay{
        flex-direction: column;
    }
    .bottomButtons{
        flex-direction: row;
    }
    .absolute{
        top: 300vh;
    }
    img{
        margin: 30vh 5vh;
    }
    #textColumn{
        margin: 0;
    }
    #networkBar{
        display: none;
    }
    .burgerIcon{
        right: 1vh;
        top: -25vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
 /* TABLET */   
    body{
        margin: 0;
    }
    .headerNavBar{
        display: none;
    }
    .flexColumn{
        align-content: center;
    }
    #reducedWidth{
        width: 50%;
    }
    
    h1{
        font-size: 0.8em;
    }
    h2{
        font-size: 0.8em;   
    }
    h3{ 
        font-size: 4em;
    }
    .absolute{
        top: 150vh;
    }
    .burgerIcon{
        right: 10vh;
        top: 5vh;
    }
} 

@media (min-width: 1023px) {
 /* RESPONSIVE LAPTOP */

 .burgerMenu{
    display: none;
 }
.burger{
    display: none;
 }
}